<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="auth-form">
    <h1>Login with your account</h1>

    <form autocomplete="off">
        <div class="auth-form__atr">
            <label for="email">E-mail:</label>
            <input type="text" name="email" placeholder="example@domain.com" required>
            <div class="error email"></div>
        </div>

        <div class="auth-form__atr">
            <label for="password">Password:</label>
            <input type="password" name="password" autocomplete="current-password" required>
            <div class="error password"></div>
        </div>

        <div>
            <button>Login</button>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>

<%- include('../partials/footer') %>