<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h2>Login with your account</h2>

<form autocomplete="off">
    <label for="email">E-mail:</label>
    <input type="text" name="email" placeholder="example@domain.com" required>
    <div class="email error"></div>

    <label for="password">Password:</label>
    <input type="password" name="password" autocomplete="current-password" required>
    <div class="password error"></div>

    <button>Login</button>
</form>

<script src="/js/login.js"></script>

<%- include('../partials/footer') %>