<%- include('../partials/head') %>
<%- include('../partials/header') %>

    <h2>Create your account!</h2>

    <form autocomplete="off">
        <label for="name">Name:</label>
        <input type="text" name="name" required>

        <label for="email">E-mail:</label>
        <input type="text" name="email" placeholder="example@domain.com" required>
        <div class="email error"></div>

        <label for="password">Password:</label>
        <input type="password" name="password" autocomplete="new-password" required>
        <div class="password error"></div>

        <button>Sign up</button>
    </form>

    <script src="/js/register.js"></script>

    <%- include('../partials/footer') %>