<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="auth-form">
    <h1>Create your account!</h1>

    <form autocomplete="off">
        <div class="auth-form__atr">
            <label for="name">Name:</label>
            <input type="text" name="name" required>
        </div>

        <div class="auth-form__atr">
            <label for="email">E-mail:</label>
            <input type="text" name="email" placeholder="example@domain.com" required>
            <div class="email error"></div>
        </div>

        <div class="auth-form__atr">
            <label for="password">Password:</label>
            <input type="password" name="password" autocomplete="new-password" minlength="6" required>
            <div class="password error"></div>
        </div>

        <div>
            <button>Sign up</button>
        </div>
    </form>

</div>
<script src="/js/register.js"></script>

<%- include('../partials/footer') %>