<header>
    <nav class="navbar">
        <div>
            <img src="/assets/task-icon.svg" alt="task icon">
            <span>Task manager</span>
        </div>
        <ul class="navbar-elements">
            <% if(user){ %>
                <li>Welcome, <%= user.name %>
                </li>
                <li><a href="../auth/logout">Logout</a></li>
            <% }else{ %>
                    <li><a href="../auth/login">Login</a></li>
                    <li><a href="../auth/register">Signup</a></li>
            <% } %>
        </ul>
    </nav>
</header>
<main>