<header>
    <nav>
        <ul>
            <% if(user){ %>
                <li>Welcome, <%= user.name %>
                </li>
                <li><a href="../auth/logout">Logout</a></li>
                <% }else{ %>
                    <li><a href="../auth/login.ejs">Login</a></li>
                    <li><a href="../auth/register.ejs">Signup</a></li>
                    <% } %>
        </ul>
    </nav>
</header>