<%- include('./partials/head') %>

<h1>Welcome to task manager website</h1>
<p>Easily create, organize, and manage your tasks with efficiency and simplicity.</p>
<img src="assets/task.png" alt="a group of tasks">
<a href="auth/register">Create an account</a>
<a href="auth/login">Log in with your account.</a>

<%- include('./partials/footer') %>